
{% extends "vicosafundacoes/base.html" %}
{% load static %}
{% block script %}
<script src="{% static 'js/user_dados.js'%}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="card card-custom gutter-b bg-white mt-10">
    <div class="card-body">
        <button type="button" id="pes_edt" onclick="pes_edt('{{ pes_id }}')" value="update" class="btn btn-warning mr-2">Editar dados </button>
        <button type="button" id="pes_btn_salvar" value="add" onclick="pes_add()" class="btn btn-success mr-2">Salvar alterações</button>
        <a href="{% url 'vicosafundacoes:index' %}" class="btn btn-secondary">Cancelar</a>  
    <div class="flex-row-fluid ml-lg-8">
        <form method="post" id="frm_pes">
            {% csrf_token %}
            <div class="row">
                <input type="hidden" id="pes_id" name="pes_id">
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Informações do Usuário</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right" for="pes_nome" >Primeiro Nome</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" id="pes_nome" name="pes_nome" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right" for="pes_doc">CPF/CNPJ</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text" id="pes_doc" name="pes_doc" />
                        <span class="form-text text-muted">Opcional</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mt-10 mb-6">Informações de contato</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right"for="pes_ctt">Telefone de Contato</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-phone"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg form-control-solid" id="pes_ctt" name="pes_ctt" placeholder="Telefone" />
                        </div>
                        <span class="form-text text-muted"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right" for="pes_email">Endereço de Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-at"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg form-control-solid" id="pes_email" name="pes_email" placeholder="Email" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %} 







